<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <script defer src="https://unpkg.com/htmx.org@2.0.2"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>To Do App</h1>
    <div class="container">
        <p id="error-message"></p>
        <form id="new-todo" hx-post="/todos/add"
            hx-trigger="submit" hx-swap="innerHTML" hx-target="#todos-list"
            hx-on:htmx:after-request="this.reset();"
            hx-on::response-error="document.querySelector('#error-message').textContent = 'Adding the todo failed!';">
            <input type="hidden" name="completed" value="false">

            <label>
                <input type="text" name="task" autocomplete="off" required placeholder="New To Do">
            </label>

            <button>Add</button>

        </form>
        <ul id="todos-list" hx-get="/todos/list" hx-trigger="load"
            hx-on:htmx:after-swap="document.querySelector('#error-message').textContent = '';">
            <li>Loading...</li>
        </ul>
    </div>
</body>

</html>